@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans&display=swap');

html  {
	font-family: PT sans, sans-serif;
	background: #ffffea;
}

body {
	margin: 0px;
}

header {
	background: #eaffff;
	font-family: PT mono, monospace;
	font-size: 1.3em;
	border: 1px solid #8888CC;
	padding-left: 1em;
}

header a {
	color: black;
	text-decoration: none;
}

header > ul {
	display: inline;
	margin: 0px;
	padding-left: 0px;
}

header > ul > li {
	display: inline-block;
}

#nav_header {
	border: none;
	border-bottom: 2px solid black;
}

#page_header {
	padding-left: 0px;
	border: none;
	border-bottom: 1px solid #8888CC;
	overflow-x: hidden;
}

#page_header > ul {
	padding-left: 0.4em;
}

#blue_box {
	display: inline;
	background: #8888CC;
	height: 100%;
	padding-left: 0.6em;
}

main {
	padding: 1em;
	padding-top: 3em;
	margin: auto;
	max-width: 40em;
	font-size: 1.1em;
}

main > p {
	text-align: justify;
}

img {
	max-width: 100%;
	border: 2px solid black;
}

pre, code {
	background: #eaffea;
	color: black;
	border: 1px solid #88CC88;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-family: PT mono, monospace;
}

pre {
	font-size: 0.8em;
	padding: 0.5em;
	overflow-x: auto;
}

pre > code {
	border: none;
	padding: 0px;
}

#page_info > h1 {
	margin-top: 0px;
	font-size: 3em;
}

#page_info > p {
	margin: 0px;
}

footer {
	color: #444444;
	font-size: 0.7em;
	text-align: center;
}

h1 {
	border-bottom: 2px solid #99994C;
}

h2 {
	border-bottom: 1px solid #99994C;
}

blockquote  {
	border-left: 3px solid #99994C;
	margin-left: 1em;
	padding-left: 1em;
	font-style: italic;
}